version: "3.8"

volumes:
  comanda_files:
    driver: local

services:
  httpd:
    image: httpd:2.4
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./comanda-ear/src/main/docker/httpd:/usr/local/apache2/conf
    depends_on:
      - comanda
  comanda:
    image: comanda:0.1.0
    container_name: jboss-comanda
    ports:
      - ${APP_PORT:-8080}:8080
      - ${DEBUG_PORT:-8787}:8787
      - ${MGM_PORT:-9990}:9990
    volumes:
      - comanda_files:/home/jboss/apps/comanda/files
    environment:
      - JBOSS_APP_NAME=${APP_NAME:-comanda}
      - JBOSS_DB_DRIVER=${DB_DRIVER:-oracle}
      - JBOSS_DB_URL=${DB_URL}
      - JBOSS_DB_USERNAME=${DB_USERNAME}
      - JBOSS_DB_PASSWORD=${DB_PASSWORD}
      - JBOSS_AUTH_URL=${AUTH_URL}
      - JBOSS_AUTH_REALM=${AUTH_REALM}
      - JBOSS_AUTH_DEFAULT_CLIENTID=${AUTH_DEFAULT_CLIENTID}
      - JBOSS_AUTH_WS_CLIENTID=${AUTH_WS_CLIENTID}
      - JBOSS_AUTH_CREDENTIAL_SECRET=${AUTH_CREDENTIAL_SECRET}
      - JBOSS_MAIL_HOST=${MAIL_HOST}
      - JBOSS_MAIL_PORT=${MAIL_PORT}
      - JBOSS_MAIL_USERNAME=${MAIL_USERNAME}
      - JBOSS_MAIL_PASSWORD=${MAIL_PASSWORD}
      - JBOSS_MAIL_SSL=${MAIL_SSL}
      - JBOSS_MAIL_TLS=${MAIL_TLS}
      - JBOSS_PROXY_HOST=${PROXY_HOST:-}
      - JBOSS_PROXY_PORT=${PROXY_PORT:-}
      - es.caib.comanda.app.url=${APP_URL:-http://localhost:8080}
      - es.caib.comanda.client.base.url=${CLIENT_BASE_URL:-http://localhost:8080/comandaapi/interna/api}
      - es.caib.comanda.fitxers=${FILES_PATH:-/home/jboss/apps/comanda/fitxers}
      - es.caib.comanda.httpauth.username=${HTTPAUTH_USERNAME}
      - es.caib.comanda.httpauth.password=${HTTPAUTH_PASSWORD}
      - es.caib.comanda.front.api.url=${APP_URL:-http://localhost:8080}/comandaback/api
      - DEBUG=${DEBUG:-}
      - DEBUG_PORT=${DEBUG_HOST:-0.0.0.0:}${DEBUG_PORT:-8787}
