openapi: 3.0.3
info:
  title: comanda-api-interna
  version: 0.1.0
servers:
- url: ""
tags:
- description: Contracte d'API de salut i metadades de l'aplicació que COMANDA pot
    consultar
  name: COMANDA → APP / Logs
paths:
  /v1/logs:
    get:
      description: Retorna una llista amb tots els fitxers que es troben dins la carpeta
        de logs del servidor de l'aplicació
      operationId: llistarFitxers
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/FitxerInfo"
                type: array
          description: successful operation
      summary: Obtenir el llistat de fitxers de log disponibles
      tags:
      - COMANDA → APP / Logs
      x-operation-name: getFitxers
      x-accepts:
      - application/json
  /v1/logs/{nomFitxer}:
    get:
      description: "Retorna el contingut i detalls del fitxer de log que es troba\
        \ dins la carpeta de logs del servidor, i que té el nom indicat"
      operationId: getFitxerByNom
      parameters:
      - description: Nom del firxer
        explode: false
        in: path
        name: nomFitxer
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FitxerContingut"
          description: successful operation
      summary: Obtenir contingut complet d'un fitxer de log
      tags:
      - COMANDA → APP / Logs
      x-operation-name: getFitxerByNom
      x-accepts:
      - application/json
  /v1/logs/{nomFitxer}/linies/{nLinies}:
    get:
      description: Retorna les darreres linies del fitxer de log indicat per nom.
        Concretament es retorna el número de línies indicat al paràmetre nLinies.
      operationId: llegitUltimesLinies
      parameters:
      - description: Nom del firxer
        explode: false
        in: path
        name: nomFitxer
        required: true
        schema:
          type: string
        style: simple
      - description: Número de línies a recuperar del firxer
        explode: false
        in: path
        name: nLinies
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: successful operation
      summary: Obtenir les darreres línies d'un fitxer de log
      tags:
      - COMANDA → APP / Logs
      x-operation-name: getFitxerLinies
      x-accepts:
      - application/json
components:
  schemas:
    FitxerContingut:
      example:
        dataCreacio: 2024-01-15T10:30:00
        dataModificacio: 2024-01-20T14:45:00
        mida: 1024
        mimeType: application/pdf
        contingut: !!binary |-
          UTI5dWRHbHVaM1YwSUdSbGJDQm1hWFI0WlhJPQ==
        nom: document.pdf
      properties:
        nom:
          description: Nom del fitxer
          example: document.pdf
          type: string
        mida:
          description: Mida del fitxer en bytes
          example: 1024
          format: int64
          type: integer
        mimeType:
          description: Tipus MIME del fitxer
          example: application/pdf
          type: string
        dataCreacio:
          description: Data de creació del fitxer
          example: 2024-01-15T10:30:00
          type: string
        dataModificacio:
          description: Data de modificació del fitxer
          example: 2024-01-20T14:45:00
          type: string
        contingut:
          description: Contingut del fitxer en format binari (codificat en Base64
            en JSON)
          example: !!binary |-
            UTI5dWRHbHVaM1YwSUdSbGJDQm1hWFI0WlhJPQ==
          format: binary
          type: string
      type: object
    FitxerInfo:
      example:
        dataCreacio: 2024-01-15T10:30:00
        dataModificacio: 2024-01-20T14:45:00
        mida: 1024
        mimeType: application/pdf
        nom: document.pdf
      properties:
        nom:
          description: Nom del fitxer
          example: document.pdf
          type: string
        mida:
          description: Mida del fitxer en bytes
          example: 1024
          format: int64
          type: integer
        mimeType:
          description: Tipus MIME del fitxer
          example: application/pdf
          type: string
        dataCreacio:
          description: Data de creació del fitxer
          example: 2024-01-15T10:30:00
          type: string
        dataModificacio:
          description: Data de modificació del fitxer
          example: 2024-01-20T14:45:00
          type: string
      type: object

