openapi: 3.0.3
info:
  title: comanda-api-interna
  version: 0.1.1
servers:
- url: ""
tags:
- description: Contracte d'API d'estadístiques que COMANDA pot consultar a les APPs
  name: COMANDA → APP / Estadístiques
paths:
  /v1/estadistiques:
    get:
      description: Retorna registres d'estadístiques més recents disponibles (estadístiques
        d'ahir).
      operationId: estadistiques
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegistresEstadistics"
          description: successful operation
      summary: Obtenir darreres estadístiques diàries disponibles
      tags:
      - COMANDA → APP / Estadístiques
      x-operation-name: estadistiques
      x-accepts:
      - application/json
  /v1/estadistiques/from/{dataInici}/to/{dataFi}:
    get:
      description: "Retorna llista d'estadístiques de tots els dies entre la dataInici\
        \ i la dataFi (en format dd-MM-yyyy), ambdues incloses. La resposta contindrà\
        \ un objecte de tipus RegistresEstadistics per a cada dia inclòs en l'intè\
        rval."
      operationId: estadistiquesPerRang
      parameters:
      - description: Data d'inici en format dd-MM-yyyy
        explode: false
        in: path
        name: dataInici
        required: true
        schema:
          type: string
        style: simple
      - description: Data de fi en format dd-MM-yyyy
        explode: false
        in: path
        name: dataFi
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/RegistresEstadistics"
                type: array
          description: successful operation
      summary: Obtenir les estadístiques d'un interval donat
      tags:
      - COMANDA → APP / Estadístiques
      x-operation-name: estadistiquesPerRang
      x-accepts:
      - application/json
  /v1/estadistiques/info:
    get:
      description: Retorna el codi de l'app i el catàleg de dimensions i indicadors
        disponibles.
      operationId: estadistiquesInfo
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EstadistiquesInfo"
          description: successful operation
      summary: Obtenir informació de 'estructura de les estadístiques
      tags:
      - COMANDA → APP / Estadístiques
      x-operation-name: estadistiquesInfo
      x-accepts:
      - application/json
  /v1/estadistiques/of/{data}:
    get:
      description: Retorna les estadístiques corresponents a la data indicada amb
        format dd-MM-yyyy.
      operationId: estadistiquesPerData
      parameters:
      - description: Data en format dd-MM-yyyy
        explode: false
        in: path
        name: data
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegistresEstadistics"
          description: successful operation
      summary: Obtenir estadístiques d'una data concreta
      tags:
      - COMANDA → APP / Estadístiques
      x-operation-name: estadistiquesPerData
      x-accepts:
      - application/json
components:
  schemas:
    DiaSetmanaEnum:
      enum:
      - DL
      - DM
      - DC
      - DJ
      - DV
      - DS
      - DG
      type: string
    Dimensio:
      properties:
        codi:
          type: string
        valor:
          type: string
      type: object
    DimensioDesc:
      description: Descripció d'una dimensió disponible (les dimenstions són els camps
        pels quals es pot filtrar la informació estadística
      example:
        descripcio: Entitat de la que s'ha generat la informació estadística
        valors: "[CAIB, TEST]"
        nom: Entitat
        codi: ENT
      properties:
        codi:
          description: Codi de la dimensió
          example: ENT
          maxLength: 32
          minLength: 1
          type: string
        nom:
          description: Nom de la dimensió
          example: Entitat
          maxLength: 64
          minLength: 1
          type: string
        descripcio:
          description: Descripció funcional de la dimensió
          example: Entitat de la que s'ha generat la informació estadística
          maxLength: 1024
          minLength: 0
          type: string
        valors:
          description: Llista dels possibles valors que pot tenir assignada la dimensió
          example: "[CAIB, TEST]"
          items:
            type: string
          type: array
      required:
      - codi
      - nom
      type: object
    EstadistiquesInfo:
      description: Catàleg de dimensions i indicadors d'estadística disponibles per
        a una APP
      example:
        data: 2000-01-23T04:56:07.000+00:00
        indicadors:
        - descripcio: Total de visites registrades per període
          format: LONG
          nom: Nombre de visites
          codi: NUM_VIS
        - descripcio: Total de visites registrades per període
          format: LONG
          nom: Nombre de visites
          codi: NUM_VIS
        versio: 2.1.0
        codi: APP
        dimensions:
        - descripcio: Entitat de la que s'ha generat la informació estadística
          valors: "[CAIB, TEST]"
          nom: Entitat
          codi: ENT
        - descripcio: Entitat de la que s'ha generat la informació estadística
          valors: "[CAIB, TEST]"
          nom: Entitat
          codi: ENT
      properties:
        codi:
          description: Codi identificador de l'aplicació
          example: APP
          minLength: 1
          type: string
        versio:
          description: Versió de l'aplicació
          example: 2.1.0
          type: string
        data:
          description: Data de generació de la informació
          format: date-time
          type: string
        dimensions:
          description: Dimensions estadístiques disponibles
          items:
            $ref: "#/components/schemas/DimensioDesc"
          type: array
        indicadors:
          description: Indicadors estadístics disponibles
          items:
            $ref: "#/components/schemas/IndicadorDesc"
          type: array
      required:
      - codi
      - dimensions
      - indicadors
      type: object
    Fet:
      properties:
        codi:
          type: string
        valor:
          format: double
          type: number
      type: object
    Format:
      enum:
      - LONG
      - DECIMAL
      - PERCENTAGE
      - CURRENCY
      - DATE
      - DATETIME
      - BOOLEAN
      type: string
    IndicadorDesc:
      description: Descripció d'un indicador/mesura disponible
      example:
        descripcio: Total de visites registrades per període
        format: LONG
        nom: Nombre de visites
        codi: NUM_VIS
      properties:
        codi:
          description: Codi de l'indicador
          example: NUM_VIS
          maxLength: 32
          minLength: 1
          type: string
        nom:
          description: Nom de l'indicador
          example: Nombre de visites
          maxLength: 64
          minLength: 1
          type: string
        descripcio:
          description: Descripció funcional de l'indicador
          example: Total de visites registrades per període
          maxLength: 1024
          minLength: 0
          type: string
        format:
          $ref: "#/components/schemas/Format"
      required:
      - codi
      - nom
      type: object
    RegistreEstadistic:
      description: Registre d'estadística amb dimensions i fets associats
      example:
        fets: "[{\"codi\":\"EXP_CREATS\",\"valor\":10},{\"codi\":\"EXP_TANCATS\",\"\
          valor\":2}]"
        dimensions: "[{\"codi\":\"ENTITAT\",\"valor\":\"CAIB\"},{\"codi\":\"ORGAN\"\
          ,\"valor\":\"A03002345\"},{\"codi\":\"USUARI\",\"valor\":\"u012345\"}]"
      properties:
        dimensions:
          description: "Dimensions que qualifiquen el registre (p. ex. àrea, tipus,\
            \ canal)"
          example: "[{\"codi\":\"ENTITAT\",\"valor\":\"CAIB\"},{\"codi\":\"ORGAN\"\
            ,\"valor\":\"A03002345\"},{\"codi\":\"USUARI\",\"valor\":\"u012345\"}]"
          items:
            $ref: "#/components/schemas/Dimensio"
          type: array
        fets:
          description: Fets o mesures quantitatives associades al registre
          example: "[{\"codi\":\"EXP_CREATS\",\"valor\":10},{\"codi\":\"EXP_TANCATS\"\
            ,\"valor\":2}]"
          items:
            $ref: "#/components/schemas/Fet"
          type: array
      type: object
    RegistresEstadistics:
      description: Registres estadístics d'un instant de temps amb les seves mesures
      example:
        fets:
        - fets: "[{\"codi\":\"EXP_CREATS\",\"valor\":10},{\"codi\":\"EXP_TANCATS\"\
            ,\"valor\":2}]"
          dimensions: "[{\"codi\":\"ENTITAT\",\"valor\":\"CAIB\"},{\"codi\":\"ORGAN\"\
            ,\"valor\":\"A03002345\"},{\"codi\":\"USUARI\",\"valor\":\"u012345\"}]"
        - fets: "[{\"codi\":\"EXP_CREATS\",\"valor\":10},{\"codi\":\"EXP_TANCATS\"\
            ,\"valor\":2}]"
          dimensions: "[{\"codi\":\"ENTITAT\",\"valor\":\"CAIB\"},{\"codi\":\"ORGAN\"\
            ,\"valor\":\"A03002345\"},{\"codi\":\"USUARI\",\"valor\":\"u012345\"}]"
        temps:
          anualitat: 2025
          setmana: 47
          data: 2025-11-25T00:00:00Z
          diaSetmana: DL
          mes: 11
          trimestre: 4
          dia: 25
      properties:
        temps:
          $ref: "#/components/schemas/Temps"
        fets:
          description: Llista de registres o fets estadístics recollits en l'instant
            indicat
          items:
            $ref: "#/components/schemas/RegistreEstadistic"
          type: array
      required:
      - temps
      type: object
    Temps:
      description: Desglossament temporal associat als registres d'estadística
      example:
        anualitat: 2025
        setmana: 47
        data: 2025-11-25T00:00:00Z
        diaSetmana: DL
        mes: 11
        trimestre: 4
        dia: 25
      properties:
        data:
          description: Instant temporal de referència
          example: 2025-11-25T00:00:00Z
          format: date-time
          type: string
        anualitat:
          description: Any corresponent a la data
          example: 2025
          format: int32
          type: integer
        trimestre:
          description: Trimestre (1-4) derivat de la data
          example: 4
          format: int32
          type: integer
        mes:
          description: Mes (1-12) derivat de la data
          example: 11
          format: int32
          type: integer
        setmana:
          description: Setmana de l'any derivada de la data
          example: 47
          format: int32
          type: integer
        diaSetmana:
          $ref: "#/components/schemas/DiaSetmanaEnum"
        dia:
          description: Dia del mes
          example: 25
          format: int32
          type: integer
      required:
      - data
      type: object

